     <div class='card mb-3 container'>   
            <h4 class="card-title text-center ">{{lecontact.nom}} {{lecontact.prenom}}</h4>
            <div class="row">
                <div class="col-2 d-flex align-items-center">
                    <img style="height: auto; max-width: 200px; display: block;" src="{{lecontact.avatar}}" class="avatar mx-auto my-3" alt="image avatar">
                </div>
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{lecontact.rue}}</li>
                        <li class="list-group-item">{{lecontact.cp}}</li>
                        <li class="list-group-item">{{lecontact.ville}}</li>
                        <li class="list-group-item">{{lecontact.mail}}</li>
                        <li class="list-group-item">{{lecontact.categorie.libelle}}</li>
                            {% if lecontact.sexe == 0%}
                                <span>Homme</span>
                            {% else %}
                                <span>Femme</span>
                            {% endif %}    
                        </li>
                        <li class="list-group-item">
                                <a href="{{path('app_catégorie',{'id' :lecontact.categorie.id})}}" >{{lecontact.categorie.libelle}} 
                                </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a href="{{path('app_contacts')}}" class="btn btn-primary text-center w-25">Retour à la liste</a>